<div class="topo">
  <div class="bsb">
    <img class="logo" src="/assets/logo.png">
    <p> Horário de Atendimento: 8h ás 20h </p>
    <p> CSB 1, Lote 3, Loja 2, Taguatinga Sul </p>
  </div>
  <div class="contato">
    <img class="call" src="/assets/call.png">
    <p> Telefone: (61) 3027.9595 </p>
    <a href="/frontend/contato"> 
      <div class="botaocontato">
        <p> Entre em contato! </p>
      </div>
    </a>
  </div>

</div>
<div class="menu-wrapper">
  <ul class="wrp"> 
    <li><a href="/frontend/index">INÍCIO</a></li> 
    <li><a href="/frontend/hospital">HOSPITAL</a></li> 
    <li><a class="serv" href="#">SERVIÇOS</a> 
      <ul class="servicos"> 
        <li><a href="/implantodontia">Implantodontia</a></li> 
        <li><a href="/odontogeriatria">Odontogeriatria</a></li> 
        <li><a href="/frontend/protese">Prótese</a></li> 
        <li><a href="/dentistica">Dentística</a></li> 
        <li><a href="/periodontia">Periodontia</a></li>
        <li><a href="/endodontia">Endodontia</a></li>
        <li><a href="/ortodontia">Ortodontia</a></li>
        <li><a href="/odontopediatria">Odontopediatria</a></li> 
      </ul> 
    </li>

    <li><a href="/frontend/dicas">DICAS DE SAÚDE</a></li>
    <li><a href="/frontend/bioseguranca">BIOSEGURANÇA</a></li> 
  </ul>
</div>

