.hospital
	.banner
		width: 960px
		border-left-style: solid
		border-left-width: 10px
		border-left-color: #fbf9fb
		border-right-style: solid
		border-right-width: 10px
		border-right-color: #fbf9fb
		margin-top: -1px

	.hospital
		>h1
			font-family: Calibri
			color: #611852
			font-size: 56px
			font-style: italic
			text-align: center

		>p
			font-family: Calibri
			font-size: 18px
			text-align: center
			>span
				color: #611852

	.missao
		>h2
			font-family: Calibri
			color: #611852
			font-size: 46px
			font-style: italic
			text-align: center
		>p
			font-family: Calibri
			font-size: 18px
			text-align: center

	.visao
		>h2
			font-family: Calibri
			color: #611852
			font-size: 46px
			font-style: italic
			text-align: center
		>p
			font-family: Calibri
			font-size: 18px
			text-align: center
			
